<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{file.originalFile.properties.extension} == 'youtube'"><f:then>
<iframe src="https://www.youtube-nocookie.com/embed/{f:if(condition: file.referenceProperties.youtube_id, then: '{file.referenceProperties.youtube_id}', else: '{file.contents}')}?autohide=1&amp;controls=1&amp;rel=0&amp;enablejsapi=1" allowfullscreen loading="lazy" class="lazy embed-responsive-item" title="{file.title}" allow="fullscreen"></iframe>
</f:then><f:else>
<f:media additionalConfig="{relatedVideos: '0', 'no-cookie': '1'}" additionalAttributes="{loading: 'lazy'}" class="lazy embed-responsive-item" file="{file}" alt="{file.alternative}" title="{file.title}" />
</f:else></f:if>
</html>
