<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
        <f:if condition="{f:cObject(typoscriptObjectPath: 'activateYouTubeIframemanager')} == 1 || {file.referenceProperties.iframe_manager} == 1"><f:then><div class="embed-frame"><f:render partial="Media/Rendering/Frame" arguments="{file: file, dimensions: dimensions, settings: settings}" /></f:then>
        <f:else><div class="ratio ratio-16x9 embed-responsive embed-responsive-16by9"><f:render partial="Media/Rendering/Video" arguments="{file: file, dimensions: dimensions, settings: settings}" /></f:else></f:if>
    </div>
    <f:if condition="{file.description}">
        <figcaption class="video-caption">
            {file.description}
        </figcaption>
    </f:if>

</html>
